
body
{
	background-image: url("../images/ignasi_pattern_s.png");
	text-align: center;
	font-family: 'Questrial', sans-serif;
	font-size: 4em;
	cursor: default;
}

.title
{
	font-family: 'Patrick Hand SC', cursive;
	font-weight: 900;
	font-size: 3em;
	background: url("../images/pinstriped_suit.png");
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#question
{
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
}

.answer:hover
{
	background: url("../images/pinstriped_suit.png");
	color: white;
}

.answer:active
{
	background: url("../images/pinstriped_suit.png");
	color: white;
    border-style: solid;
    border-width: 5px;
    border-color: white;
}